* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  font-size: 0.92rem;
  margin: 0;
}

html {
  min-height: 100vh;
}

body {
  background-color: rgba(0, 183, 255, 0.05);
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background: linear-gradient(rgb(0, 183, 255), rgb(0, 164, 230));
  color: #fff;
  padding: 0px 0;
}

.logo img {
  height: 50px;
}

.fetchWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 75px;
}

.fetch {
  font-size: 1.2rem;
  white-space: nowrap;
}

.inputBtn {
  height: 30px;
  padding: 4px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 25px;
  box-sizing: border-box;
}
.inputBtn:hover {
  color: rgb(0, 183, 255);
  background: #fff;
}

.inputNumber {
  font-size: 1.2rem;
  height: 30px;
  width: 40px;
  border: none;
  margin: 0 8px;
  border-radius: 5px;
  text-align: center;
}

.inputBtn,
.inputNumber {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.inputNumber:focus {
  outline: none;
  box-shadow: 0 0 0 2px gray;
}

.api {
  text-align: center;
  margin-bottom: 35px;
  position: relative;
  padding: 2px;
}

.api,
.api a {
  color: #888;
}

.users {
  width: auto;
  min-height: 75vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 25px auto;
}

.person {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 0 15px rgba(211, 211, 211, 0.4);
  border-radius: 3px;
  height: 120px;
  width: 400px;
  min-width: 200px;
  margin: 3px 3px;
  /*valores a serem alterados no JS para animaçao*/
  padding: 0 25px;
  filter: opacity(0);
  transform: scaleY(0.95);
}

.person div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.person:nth-last-child(1) {
  background: red;
  margin-right: auto;
}

.fill {
  width: 400px;
  margin: 3px;
}

.person img {
  height: 100px;
  width: 100px;
  border-radius: 2px;
  border: 1px solid rgba(211, 211, 211, 0.5);
  cursor: pointer;
}

.info {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding-left: 15px;
}

span:not(:nth-child(3)) {
  margin-left: 7px;
  white-space: nowrap;
}

.info div {
  margin-bottom: 5px;
}

.shadow {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  /*animar items abaixo*/
  background: rgba(0, 0, 0, 0);
}

.profile-wrapper {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 50%;
}

.profile {
  padding: 50px;
  border-radius: 5px;
  position: relative;
  width: 400px;
  height: auto;
  left: -200px;
  background: #fff;
  transition-timing-function: cubic-bezier(0.05, 0.95, 0.05, 0.95);
  transition-duration: 0.3s;
  /*animar items abaixo*/
  top: 20%;
  transform: scale(0.95);
  filter: opacity(0);
}

i {
  text-align: center;
  min-width: 15px;
}

.profile div:nth-child(2) {
  margin-top: 25px;
  height: auto;
}

.profile .info {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 0;
}

.profile img {
  margin: 0 auto;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 25px;
  color: #fff;
  border-bottom: red;
  backdrop-filter: blur(25px);
  background: #222;
}

.bottom-bar a {
  color: #fff;
}

.medias {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 125px;
  margin: 20px;
}

.medias a {
  display: flex;
  align-items: center;
}

.medias a:hover {
  filter: contrast(0) saturate(0) brightness(0.7);
}

.medias svg {
  filter: drop-shadow(0 0 5px rgb(0, 46, 92));
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 183, 255);
  border: 1px solid rgb(0, 183, 255);
}

@media (max-width: 400px) {
  .logo img {
    display: none;
  }
  header {
    justify-content: center;
  }
}
